server {
  listen 443 ssl;
  server_name worker.example.com;
  location / {
    proxy_pass http://127.0.0.1:8787;
    proxy_set_header Authorization $http_authorization;
    proxy_set_header Host $host;
  }
}
